@import url(../main.css);

* {
  word-break: break-all !important;
}

.RowContainer {
  padding: 10px;
  width: 100%;
  min-height: 120px;
  background-color: white;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  color: black !important;
}

.RowContainer span {
  display: block !important;
  word-wrap: break-word !important;
}

.Informations {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.Informations div {
  width: 25%;
  height: 100%;
}

.RowContainer img {
  min-height: 100px !important;
  height: 100px !important;
  object-fit: cover;
}

.RowContainer p {
  margin: 0;
  padding: 0;
  display: block;
  word-break: keep-all !important;
}

.companyInfo {
  gap: 10px;
  color: rgb(82, 78, 78);
}

.infoRow {
  gap: 20px;
}

.salaryInfo {
  gap: 10px;
  margin: 0 auto;
}

.salaryInfo .salary {
  color: red;
  font-size: 20px;
  font-weight: 500;
}

.salaryInfo .currency {
  color: black;
  font-size: 20px;
}

.iportantInfo {
  width: 250px;
  font-weight: 500;
}

.iportantInfo button {
  width: 100% !important;
}

.RowContainer svg {
  font-size: 25px;
}

.RowContainer:hover {
  transform: translateY(-20px);
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

@media screen and (max-width: 768px) {
  .RowContainer img {
    height: 100px !important;
  }
}