* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
:root {
  --blue_1: rgb(0, 169, 224);
  --gradientStart: #00a9e0;
  --gradientEnd: #6f6bba;
  --background: rgb(243, 243, 243);
  --support: rgba(173, 216, 230, 0.3);
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
.App {
  background-color: var(--background);
}
