.login-form-wrapper,
.register-form-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.login-form-wrapper header,
.register-form-wrapper header {
    text-align: center;
}

.loginInputs,
.registerInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}

.forms-container form {
    width: 60%;
    margin: 0 auto;
}